// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

* {
	outline: 0px solid red;
}

div.flash-msgs {
	margin-top:-10px;
	text-shadow: none; 
	text-align: left;
}

@import "home"